nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(245, 176, 73);
    gap: 45px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;   
    transition: all 0.3s;
    font-size: 0.8rem;
}

nav a:hover {
    color: aqua;
}

nav a svg {
    margin-right: 5px;
}